absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
alpaca-py==0.6.1
appdirs==1.4.4
apt-xapian-index==0.49
argon2-cffi==21.1.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
Babel==2.8.0
backcall==0.2.0
bamboolib==1.30.19
beautifulsoup4==4.11.1
beniget==0.4.1
bidict==0.22.0
bleach==5.0.0
blinker==1.4
Bottleneck==1.3.2
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.6.15
chardet==4.0.0
charset-normalizer==2.1.1
click==8.0.3
colorama==0.4.5
command-not-found==0.3
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.4
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.5
distro==1.7.0
distro-info==1.1+ubuntu1
docutils==0.17.1
entrypoints==0.4
et-xmlfile==1.0.1
fastjsonschema==2.15.1
filelock==3.7.1
flatbuffers==22.10.26
fonttools==4.34.4
freezegun==1.0.0
frozenlist==1.3.3
fs==2.4.16
gast==0.4.0
gevent==22.10.2
git-cola==3.12.0
google-auth==2.14.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg==1.17.1
graphviz==0.14.2
greenlet==2.0.1
grpcio==1.50.0
h5py==3.7.0
html5lib==1.1
httplib2==0.20.4
idna==3.3
imagesize==1.4.1
importlib-metadata==4.6.4
inflection==0.5.1
iniconfig==1.1.1
install==1.3.5
ipykernel==6.15.1
ipysankeywidget==0.4.2
ipyslickgrid==0.0.3
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==7.7.2
isodate==0.6.1
jdcal==1.0
jedi==0.18.0
jeepney==0.8.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-console==6.4.3
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring==23.8.2
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==14.0.6
llvmlite==0.38.1
lxml==4.9.1
lz4==4.0.0+dfsg
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.4
multidict==6.0.2
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.4
netifaces==0.10.6
nltk==3.7
nose==1.3.7
notebook==6.4.8
numba==0.55.2
numexpr==2.8.3
numpy==1.21.5
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.1
patsy==0.5.3
pbr==5.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
plotly==5.11.0
pluggy==1.0.0+repack
ply==3.11
ppscore==1.3.0
prometheus-client==0.9.0
prompt-toolkit==3.0.30
protobuf==3.19.6
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycryptodomex==3.11.0
pycups==2.0.1
pydantic==1.10.2
Pygments==2.12.0
PyGObject==3.42.2
PyJWT==2.4.0
pymongo==3.11.0
pyparsing==3.0.7
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
pyrsistent==0.18.1
pytest==7.1.2
python-apt==2.4.0+22.10
python-dateutil==2.8.2
python-debian==0.1.46
python-engineio==4.3.4
python-socketio==5.7.2
pythran==0.11.0
pytz==2022.2.1
pywizlight==0.5.14
pyxattr==0.7.2
PyYAML==5.4.1
pyzmq==24.0.1
qrcode==7.3.1
QtPy==2.1.0
regex==2022.10.31
reportlab==3.6.11
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
roman==3.3
rsa==4.9
scikit-learn==1.1.2
scipy==1.8.1
scour==0.38.2
SecretStorage==3.3.3
Send2Trash==1.8.1b0
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
socketio==0.2.1
soupsieve==2.3.2
Sphinx==4.5.0
sphinx-press-theme==0.8.0
sphinx-rtd-theme==1.1.1
sphinxcontrib-apidoc==0.3.0
sseclient-py==1.7.2
sshuttle==1.0.5
statsmodels==0.13.5
suncalc==0.1.2
sympy==1.10.1
systemd-python==235
tables==3.7.0
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
typing_extensions==4.4.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==15.0.0
urllib3==1.26.9
usb-creator==0.3.7
virtualenv==20.16.3+ds
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==3.6.1
wrapt==1.14.1
xkit==0.0.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.8.1
youtube-dl==2021.12.17
zeep==4.1.0
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.5.2
