<table border="0" cellpadding="2" cellspacing="0" width="100%" style="text-align: left; margin-top: 50px;">
    <tr>
        <td align="left" valign="top">
            Av:
        </td>
        <td align="left" valign="top">
            {{from}}
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            Tittel:
        </td>
        <td align="left" valign="top">
            {{ title }}
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            Klubb:
        </td>
        <td align="left" valign="top">
            {{ org_name }}
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            Tid:
        </td>
        <td align="left" valign="top">
            {{ created }}
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            URL:
        </td>
        <td align="left" valign="top">
            <a href="{{url}}" target="_blank">{{ url }}</a>
        </td>
    </tr>
</table>